<div class="row">
    <div class="col-md-12">
        <h3>Crear becarios</h3>
        <form [formGroup]="becarioForm">
            <div class="mb-3">
                <label>Nombre</label>
                <input type="text" class="form-control" [class.is-invalid]="becarioForm?.get('nombre')?.touched && !becarioForm?.get('nombre')?.valid" formControlName="nombre"/>
            </div>
            <div class="mb-3">
                <label>Apellidos</label>
                <input type="text" class="form-control" [class.is-invalid]="becarioForm?.get('apellidos')?.touched && !becarioForm?.get('apellidos')?.valid" formControlName="apellidos"/>
            </div>
            <div class="mb-3">
                <label>Puesto</label>
                <input type="text" class="form-control" [class.is-invalid]="becarioForm?.get('puesto')?.touched && !becarioForm?.get('puesto')?.valid" formControlName="puesto"/>
            </div>
            <div class="mb-3">
                <label>Horario</label>
                <input type="text" class="form-control" [class.is-invalid]="becarioForm?.get('horario')?.touched && !becarioForm?.get('horario')?.valid" formControlName="horario"/>
            </div>
            <div class="mb-3">
                <label>Fecha Alta</label>
                <input type="text" class="form-control" [class.is-invalid]="becarioForm?.get('fechaalta')?.touched && !becarioForm?.get('fechaalta')?.valid" formControlName="fechaalta"/>
            </div>

            <div class ="my-3">
                <button class="btn btn-primary"[disabled]="!becarioForm.valid" (click)="onAddBecario()">Crear becario</button>
            </div>
            <div class ="my-3">
                <button class="btn btn-danger" (click)="onCancel()">Cancelar</button>
            </div>
        </form>
    </div>
</div>